@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button, input {
  border: none;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

body {
  overflow-x: hidden;
  background-color: #CAF0F8;
  font-family: "IBM Plex Mono", monospace;
}

.landing-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.landing-page .header {
  width: 100%;
  max-height: 15%;
}

.logo {
  width: 200px;
  height: auto;
  margin: 35px 0 15px 25px;
}

.landing-page-content {
  width: 100%;
  padding: 0 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.landing-page-content .row-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  max-height: 80%;
}

.map img {
  width: 100%;
  height: auto;
}

.text {
  width: 35%;
  padding-top: 15px;
}

.text p {
  margin: 10px 0px 0px 5px;
}

.landing-page-content .row-1 .text .heading {
  font-size: 2.8rem;
  color: #03045E;
  text-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
}

#down_nav_arrow {
  margin-top: 10px;
  transition: all 200ms ease-in-out;
}

#down_nav_arrow:hover {
  transform: scale(1.3);
}

#stats_page_wrapper {
  height: 100vh;
  width: 100vw;
  padding: 2% 2.5%;
}

#stats_page_card {
  background-color: rgba(177, 224, 245, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#stats_page_card .row-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.map-container {
  width: 65%;
  height: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#map {
  width: 65%;
}

#map svg {
  height: 100%;
  width: 100%;
}

.map-text {
  width: 30%;
  justify-content: right;
}

.map-text h4 {
  font-size: 20px;
}

#bargraph {
  width: 35%;
  height: auto;
}

#stats_page_card .row-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#piechart1, #piechart2, #piechart3 {
  width: 400px;
  height: auto;
}

.zoom_buttons {
  display: flex;
  flex-direction: column;
  justify-content: right;
  height: 400px;
  width: 100%;
  align-content: space-evenly;
}

.zoom_buttons button {
  padding: 5px;
  font-size: 1rem;
  font-family: "IBM Plex Mono", monospace;
  color: rgb(37, 98, 227);
  font-weight: bold;
  background-color: #CAF0F8;
  border-radius: 5px;
  transition: all 250ms ease-in;
  width: 100px;
}

.zoom_buttons button:hover {
  color: #CAF0F8;
  background-color: rgb(37, 98, 227);
}

#zoom-RESET {
  color: #CAF0F8;
  background-color: rgb(37, 98, 227);
}

#zoom-RESET:hover {
  color: rgb(37, 98, 227);
  background-color: #CAF0F8;
}/*# sourceMappingURL=style.css.map */